.service {
    flex: 1 1 288px;
    width: 288px;
    margin-bottom: 50px;
  
  }
  
  .service__heading {
    font-family: 'Open Sans';
    margin: 0;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
  }
  
  .service__heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 22px;
  }
  
  .service__text {
    font-family: 'Open Sans';
    margin: 0;
    line-height: 28px;
  }
  
  .service__heading_manage::before {
    content: url('../imges/sharnir.svg');
  }
  
  .service__heading_ux::before {
    content: url('../imges/karandash.svg');
  }
  
  .service__heading_logo::before {
    content: url('../imges/almaz.svg');
  }
  
  .service__heading_anim::before {
    content: url('../imges/gruzov.svg');
  }
  